<section class="control-bar">
  <a href="/sign_out">Sign out</a>
</section>

<section class="task-list">
  <h1><%= date.humanize %></h1>

  <% if todos.length.zero? %>
    <p>Nothing to do today..</p>
  <% else %>
    <ul class="todos">
      <% todos.each_with_index do |todo, i| %>
        <%= tag :li, 'class' => 'todo' + (todo.important? ? ' important' : '') + (todo.complete? ? ' done' : ''),
                     'data-event-id' => todo.event_id,
                     'data-date' => date.portable,
                     'data-variable' => "hello" %>
          <input type="checkbox" class="todo" id="task-<%= i %>" class="task-<%= i %>" <%= "checked" if todo.complete? %>>
					<label for="task-<%= i %>">
						<strong class="todo-summary"><%= todo.summary %></strong>
            <span class="todo-date-time">
              <strong class="todo-date"><%= todo.date %></strong>
              <strong class="todo-time"><%= todo.time %></strong>
            </span>
					</label>
        </li>
      <% end %>
    </ul>
  <% end %>

  <nav class="days-navigator">
    <%= link_to " &larr; previous day", date.prev_date_path, :class => "previous-day" %>
    <%= link_to "next day &rarr;", date.next_date_path, :class => "next-day" %>
  </nav>
</section>
