<section class="control-bar">
  <a href="/sign_out">Sign out</a>
</section>

<section class="todos">
  <h1><%= date.humanize %></h1>

  <% if events.length.zero? %>
    <p>Nothing to do today..</p>
  <% else %>
    <ul class="events">
      <% events.each_with_index do |event, i| %>
        <%= tag :li, 'class' => 'event',
                     'data-event-id'   => event.id,
                     'data-date'       => date.portable,
                     'data-start-date' => event.start_date,
                     'data-end-date'   => event.end_date %>
          <input type="checkbox" class="todo" id="task-<%= i %>" class="task-<%= i %>" <%= "checked" if event.complete? %>>
					<label for="task-<%= i %>">
						<strong class="event-summary"><%= event.summary %></strong>
					</label>
        </li>
      <% end %>
    </ul>
  <% end %>

  <nav class="days-navigator">
    <%= link_to " &larr; previous day", date.prev_date_path, :class => "previous-day" %>
    <%= link_to "next day &rarr;", date.next_date_path, :class => "next-day" %>
  </nav>
</section>
